<form action="<%= cats_url %>" method="post">
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name">

  <label for="cat_age">Age</label>
  <input type="number" name="cat[age]" id="cat_age">
  <br>

  <label for="cat_birth_date">Birth date</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date">
  <br>

  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option></option>
    <% Cat::CAT_COLORS.each do |color| %>
      <option value="<%= color %>"><%= color.upcase %></option>
    <% end %>
  </select>
  <br>

  <input type="radio" name="cat[sex]" value="M" id="cat_sex_male">
  <label for="cat_sex_male">Male</label>
  <input type="radio" name="cat[sex]" value="F" id="cat_sex_female">
  <label for="cat_sex_female">Female</label>
  <br>

  <input type="submit" value="Create cat!">
</form>
